.loginSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
    /* background-color: red; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginSide .wrapper > img {
    width: 130px;
    margin-bottom: 80px;
}

.loginSide .wrapper  > h1 {
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.labelLogin {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.labelLogin input {
    width: 100%;
    background: var(--light-grey);
    border-radius: 5px;
    outline: none;
    font-size: .9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
    border: 2px solid transparent;
}

.labelLogin input:focus {
    background: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.labelLogin span {
    position: absolute;
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.labelLogin > .spanActive {
    font-size: .7em;
    margin: 8px 10px;
}

.iconsLogin {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.iconsLogin img {
    width: 20px;
}

.iconsLogin button {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.iconsLogin button:nth-child(1) {
    background: var(--blue);
}
.iconsLogin button:nth-child(2) {
    background: var(--light-grey);
}
.iconsLogin button:nth-child(3) {
    background: var(--black);
}

.labelCheckbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: .9em;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.labelCheckbox input {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--light-grey);
    border-radius: 3px;
}

.labelCheckbox input:checked {
    background: var(--red);
}

.labelCheckbox input:checked::after {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

.btnLogin button {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
}

.btnLogin svg {
    fill: white;
}

.btnLogin button:disabled {
    cursor: auto;
    background: white;
    border: 2px solid var(--light-grey);
}

.btnLogin button:disabled svg {
    fill: var(--grey);
}

.link {
    font-size: .8em;
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
}